<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
    <siteMapNode title="Home" controller="Home" action="Overview">
        <siteMapNode title="Dashboard" nopResource="Admin.Dashboard" controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
        <siteMapNode title="Customers" nopResource="Admin.Customers" PermissionNames="ManageCustomers, ManageVendors" ImageUrl="~/Administration/Content/images/ico-customers.png" >
          <siteMapNode title="Customers" nopResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" />
          <siteMapNode title="Customer roles" nopResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" />
          <siteMapNode title="Online customers" nopResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" />
        </siteMapNode>
        <siteMapNode title="Content&#160;Management" nopResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageWidgets, ManageTopics, ManageForums, ManageMessageTemplates" ImageUrl="~/Administration/Content/images/ico-content.png">
          <siteMapNode title="Polls" nopResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List" />
          <siteMapNode title="News" nopResource="Admin.ContentManagement.News" PermissionNames="ManageNews">
            <siteMapNode title="News items" nopResource="Admin.ContentManagement.News.NewsItems" controller="News" action="List" />
            <!--<siteMapNode title="News comments" nopResource="Admin.ContentManagement.News.Comments" controller="News" action="Comments"/>-->
          </siteMapNode>
          <siteMapNode title="Widgets" nopResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List" />
          <siteMapNode title="Topics" nopResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" />
          <siteMapNode title="Message templates" nopResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List" />
        </siteMapNode>
        <siteMapNode title="Configuration" nopResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageMeasures,ManageActivityLog,ManageACL,ManageEmailAccounts,ManagePlugins" 
					 ImageUrl="~/Administration/Content/images/ico-configuration.png">
          <siteMapNode title="Settings" nopResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" >
            <siteMapNode title="General and common settings" nopResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon"/>
            <siteMapNode title="Customer and user settings" nopResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" />
            <!--<siteMapNode title="Media settings" nopResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" />-->
            <!--<siteMapNode title="Reward points" nopResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints"/>-->
            <!--<siteMapNode title="News settings" nopResource="Admin.Configuration.Settings.News" controller="Setting" action="News" />-->
            <siteMapNode title="All settings (settings)" nopResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings"/>
          </siteMapNode>
          <siteMapNode title="Stores" nopResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List"/>
          <!--<siteMapNode title="Countries" nopResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List"/>-->
          <siteMapNode title="Languages" nopResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List"/>
          <siteMapNode title="EmailAccounts" nopResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List"/>
          <siteMapNode title="Activity Log" nopResource="Admin.Configuration.ActivityLog" PermissionNames="ManageActivityLog">
            <siteMapNode title="Activity Types" nopResource="Admin.Configuration.ActivityLog.ActivityLogType" controller="ActivityLog" action="ListTypes"/>
            <siteMapNode title="Activity Log" nopResource="Admin.Configuration.ActivityLog.ActivityLog" controller="ActivityLog" action="ListLogs"/>
          </siteMapNode>
          <siteMapNode title="Access control list" nopResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" />
          <siteMapNode title="External authentication methods" nopResource="Admin.Configuration.ExternalAuthenticationMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthentication" action="Methods"/>
          <siteMapNode title="Plugins" nopResource="Admin.Configuration.Plugins" PermissionNames="ManagePlugins" controller="Plugin" action="List"/>
        </siteMapNode>
        <siteMapNode title="System" nopResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" ImageUrl="~/Administration/Content/images/ico-system.png">
            <siteMapNode title="Log" nopResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List" />
            <siteMapNode title="Queued emails" nopResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List" />
            <!--<siteMapNode title="Maintenance" nopResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance" />-->
            <siteMapNode title="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List" />
            <siteMapNode title="Warnings" nopResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings" />
            <siteMapNode title="System information" nopResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo" />
            <siteMapNode title="Search engine friendly names" nopResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames" />
        </siteMapNode>
    </siteMapNode>
</siteMap>

